/* ---- SWATCH HEX CODE ---- 

Grey 4e4e4e
Tiffany cbeef2
Dk Tiffany 63afae

*/

/* ------------------------- MAIN CODE -------------------------------- */

body {
	color: #4e4e4e;
	font: 100%/1.25 Helvetica, Arial, sans-serif;
	max-width: 900px;
	margin: 0 auto;
	background-color: #fff;
	background: url(../images/backgroundmain.jpg)
}

#wrapper {
	background: #fff;
	width:100%;
	margin: 0 auto;
	overflow: hidden;
}

h1 {
	color: #d01747;
	font-size: 1.7em;
}

h2 {
	font-size: 1.2em;
	color: #d01747;
}

h3 {
	color: #70bfb9;
	font-size: 1em;
	margin: 0;
	font-weight: normal;
}

strong {
	color: #70bfb9;
	font-weight: normal;
	font-size: 1em;
}

footer {
	background-color: #cbeef2;
	font-variant:small-caps;
}

/* ------------------------------- NAV -------------------------------------- */

nav {
	background-color: #cbeef2;
	font-variant:small-caps;
	color: #4e4e4e;
}

ul.navlist {
	width: 100%;
	margin: 0 auto;
	background: #cbeef2;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

.navlist li {
	width: 25%;
	background: #cbeef2;
	float: left;
}

.navlist li a {
	text-decoration: none;
	background: #cbeef2;
	display: block;
	line-height: 3.125em;
	text-align: center;
	color: #4e4e4e;
}

.navlist li a:hover {
	color: #fff;
	background: #cbeef2;
}

/* ------------------------------- LINKS ------------------------------------ */

a:link {
	color:#707070;
	text-decoration: none;
}
     
a:visited {
	color:#707070;
	font-weight: bold;
}

a:active {
	color:#707070;
	font-weight: bold;
}

a:hover {
	color:#d01747;
}


/*---------------------------media queries---------------------------------*/

@media screen and (min-width: 768px) and (max-width: 959px) {
	#wrapper {background-color: #191919;}
}

@media only screen and (min-width: 480px) and (max-width: 767) {
	#wrapper {background-color: #191919;}
	.form_container {float:none; width: 100%;}
	.membership_container {float: none; width: 100%;}
}

@media only screen and (max-width: 479px) {
	#wrapper {background-color: #191919;}
	nav {display: none;}
	ul.navlist {display: none:}
	.form_container {float:none; width: 100%;}
	.membership_container {float: none; width: 100%;}
}